/* utility classes */
.min-h-100vh {
  min-height: 100vh;
}

.h-100vh {
  height: 100vh;
}

.rounded-tl-4xl {
  border-top-left-radius: 3rem;
}

.overlap {
  grid-column: 1;
  grid-row: 1;
}

/* light and dark mode classes */
.np-icon {
  color: black;
  transition: color 0.3s;
}

.np-icon.dark {
  color: white;
}

.np-icon:hover {
  cursor: pointer;
  color: #10b981;
}

.logo-black {
  transition: opacity 0.3s;
  opacity: 1;
}

.logo-black.dark {
  opacity: 0;
}

.logo-white {
  transition: opacity 0.3s;
  opacity: 0;
}

.logo-white.dark {
  opacity: 1;
}

.dark-button {
  transition: opacity 0.3s;
  opacity: 1;
  z-index: 1;
}

.bi-moon {
  transition: color 0.3s;
  color: white;
}

.dark-button:hover > .bi-moon {
  color: #10b981;
}

.light-button {
  transition: opacity 0.3s, border-color 0.3s;
  opacity: 0;
  z-index: 0;
  background-color: transparent;
  border: 1px solid white;
  border-color: white;
}

.dark-button.dark {
  opacity: 0;
  z-index: 0;
}

.light-button.dark {
  opacity: 1;
  z-index: 1;
  color: white;
}

.light-button.dark:hover, .light-button.dark:hover > .bi-sun {
  color: #10b981;
  border-color: #10b981;
}

.np-left {
  transition: background-color 1s ease;
  background-color: white;
}

.np-right {
  transition: background-color 1s ease;
  background-color: white;
}

.np-left.dark {
  background-color: black;
}

.np-right.dark {
  background-color: black;
}


/* --- */

.nonprofit-grid {
  grid-template-columns: repeat(auto-fit, 350px);
}

.nonprofit-grid > div:first-child {
  grid-column: 1 / -1;
}

.nonprofit-card {
}

.layer {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
}

.card-front {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  z-index: 1;
}

.card-front:hover {
  opacity: 0;
}

.card-front:hover + .card-back {
  opacity: 1;
}

.card-back {
  opacity: 0;
}

.pseudo {
  grid-column: 1;
  grid-row: 1;
  padding-bottom: 100%;
}


.nonprofit-image {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
